.Footer {
	background-color: #320bb2;
	color: #fff;
	font-size: 18px;
	padding: 20px;
	width: 100%;
	height: 10vh;
	text-align: center;
}

.instagram{
	width: 64px;
	height: 64px;
	background-color: #320bb2;
}